:root {
  /* == My variables == */
  --max-width: 1012px;
  --border-radius: 12px;
  --radius: 0.5rem;
  --white: 0 0% 100%;
  --black: 240 10% 3.9%;

  /* == Theme == */
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 72.22% 50.59%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5% 64.9%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: inherit, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.modal-content-barcode {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border-radius: 0.5rem;
  background-color: var(--white);
  background-color: hsl(var(--white));
  color: hsl(var(--black));

  padding: 20px;
  position: relative;
  gap: 1.5rem;
  width: fit-content;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);

  border: 1px solid hsl(var(--border));
  z-index: 1001;
  overflow-y: scroll;
}

.modal-content-info {
  align-self: center;
  justify-content: center;
  background-color: hsl(var(--foreground)) !important;
  padding: 20px !important;
  color: hsl(var(--background)) !important;
  border-radius: var(--radius) !important;
}

.modal-content-about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);

  border-radius: var(--radius);

  font-family: inherit;
  p {
    line-height: 1.6;
    color: hsl(var(--muted-foreground));
  }

  a {
    color: #87c1ff;
    text-decoration: underline;
  }

  .footnote {
    margin: 24px 0;
    strong {
      display: block;
      margin-bottom: 8px;
    }
  }
}

@media screen and (prefers-color-scheme: dark) {
  .modal-content-about-us {
    box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .modal-content-about-us {
    padding: 40px 0;
    margin: 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
