.header {
  padding: 6rem 0 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;

  &__title {
    font-size: 3.75rem;
    line-height: 1;
    letter-spacing: -0.05em;
    font-weight: 700;
    text-align: center;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    text-wrap: balance;
    hyphens: auto;
  }
  &__subtitle {
    max-width: 550px;
    display: inline-block;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: hsl(var(--muted-foreground));
    text-align: center;
    text-wrap: balance;
    text-wrap: pretty;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 6rem 0 48px;

    &__title {
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 4rem 0 48px;

    &__title {
      font-size: 2.25rem;
      line-height: 1.25;
    }
  }
}
@media screen and (max-width: 500px) {
  .header {
    padding: 40px 0;

    &__title {
      font-size: 2.25rem;
      line-height: 1.25;
    }
  }
}
